 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Take a deep breath and relax. I am ready to guide you through your real estate journey. I believe that real estate is so much more than a building on a lot. It’s about family, community, relationships and finding somewhere you can feel truly at home.
In 2002, New England became our home. Settling in the Quiet Corner has been a wonderful experience. We raised our daughter in a beautiful community surrounded by history and supportive neighbors. As proud parents we congratulate our daughter on attending Medical School in the Fall.</p>
                    <p>My husband and I are strong suporters of the Northeast community. Getting together with real people in real life makes powerful things happen. Side hustles become careers, ideas become movements, and chance encounters become lifelong connections. Bringing people together to create thriving communities through our local meetup group Events Gone Wild we have grown stronger with the local communities by regularly and persistently doing a variety of simple things together that give chances to connect with others, build trust and get involved in doing things together.</p>
                 <p>As a team member of RE/MAX Bell Park I will provide you with knowledge in handling the details of buying and selling your home through insights and experience. I look forward to working with you and sharing my experiences with you.</p>
              </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
