 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Take a deep breath and relax. I am ready to guide you through your real estate journey. I believe that real estate is so much more than a building on a lot. It’s about family, community, relationships and finding somewhere you can feel truly at home.
In 2002, New England became our home. Settling in the Quiet Corner has been a wonderful experience. We raised our daughter in a beautiful community surrounded by history and supportive neighbors. As proud parents we congratulate our daughter on attending Medical School in the Fall.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
